build
cmake-*
Example/manhattan_slam
Example/CameraTrajectory.txt
Example/KeyFrameTrajectory.txt
Example/Surfels.ply
lib
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
.idea